
/* -----------------------------------

	6. Sliders

------------------------------------- */

.revolution_slider{
	width:100%;
	position:relative;
	padding:0;
}
.tp-leftarrow i[class^="fa "],.tp-rightarrow i[class^="fa "],
.camera_prev i[class^="fa "],.camera_next i[class^="fa "],
.flex-direction-nav a i[class^="fa "]{
	color:#fff;
	font-size:2.2em;
	line-height: 60px;
	font-weight: bold;
	margin-top:-1px;
}
.slider_divider{
	height:2px;
	width:58px;
	background:rgba(255,255,255,.3);
	border:none;
}
.slider_divider.type_2{
	background:rgba(50,58,69,.1);
}
.slider_title{
	font-size:3.07em;
	line-height: 1em;
}
.slider_title_2{
	font-size:2.35em;
}
.slider_title_3{
	letter-spacing:1.7px;
}
.slider_title_4{
	font-size:2.57em;
	line-height: 1em;
}
.caption .button_type_4,[class*="slide_caption"] .button_type_4,
.camera_wrap .button_type_4{
	font-size:1.7em;
	padding:13px 18px;
}
.ui-slider{
	height:12px;
	border:2px solid #e2e6e7;
	position:relative;
	background:#f5f7f8;
}
.ui-slider:after{
	content:"";
	position:absolute;
	display:block;
	top:0px;
	height:8px;
	width:33%;
	right:0;
}
.ui-slider-handle{
	width:12px;
	height:22px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	top:50%;
	display:inline-block;
	margin-top:-11px;
	position:absolute;
	z-index:1;
}
.range_values input[type="text"]{
	padding:0;
	width:50%;
	height:auto;
	border:none;
	background:transparent;
}
.custom_thumb{
	position:absolute;
	width:310px;
	background:#fff;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	position:absolute;
	bottom:100%;
	left:50%;
	margin:0 0 13px -155px;
	padding:6px;
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,.2);
	-o-box-shadow:0 1px 2px rgba(0,0,0,.2);
	-ms-box-shadow:0 1px 2px rgba(0,0,0,.2);
	box-shadow:0 1px 2px rgba(0,0,0,.2);
	-webkit-transform:translateY(-35px);
	-moz-transform:translateY(-35px);
	-o-transform:translateY(-35px);
	-ms-transform:translateY(-35px);
	transform:translateY(-35px);
	opacity:0;
	visibility: hidden;
}
.custom_thumb img{
	max-width:100% !important;
}
.custom_thumb.active{
	-webkit-transform:translateY(0px);
	-moz-transform:translateY(0px);
	-o-transform:translateY(0px);
	-ms-transform:translateY(0px);
	transform:translateY(0px);	
	opacity:1;
	visibility: visible;
}
.custom_thumb:after{
	content:"";
	width:0;
	height:0;
	border-left:8px solid transparent;
	border-top:8px solid #fff;
	border-right:8px solid transparent;
	position:absolute;
	left:50%;
	bottom:-8px;
	margin-left:-8px;
}
[class*="camera_caption_"]{
	position:absolute;
	height:100%;
	top:0;
}
[class*="camera_caption_"] img{
	max-width:100% !important;
}
.camera_caption_1{
	left:51.47%;
	padding-top:100px;
}
.camera_caption_2{
	left:10.98%;
	padding-top:120px;
}
.camera_caption_3{
	left:0;
	padding-top:60px;
	width:100%;
}
.tp-leftarrow,.tp-rightarrow,.flex-direction-nav a{
	z-index:100;cursor:pointer; position:relative;	width:60px;	height:60px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	text-align: center;
	-webkit-transform:translateX(-40px);
	-moz-transform:translateX(-40px);
	-o-transform:translateX(-40px);
	-ms-transform:translateX(-40px);
	transform:translateX(-40px);
	opacity:0;
	background:rgba(41,47,56,.5);
	-webkit-transition:background-color .3s ease,opacity .3s ease,-webkit-transform .3s ease;
	-moz-transition:background-color .3s ease,opacity .3s ease,transform .3s ease;
	-o-transition:background-color .3s ease,opacity .3s ease,transform .3s ease;
	-ms-transition:background-color .3s ease,opacity .3s ease,transform .3s ease;
	transition:background-color .3s ease,opacity .3s ease,transform .3s ease;
}
.sub_sideshow .flex-direction-nav a{
	width:40px;
	height:40px;
	margin-top:-20px;
}
.sub_sideshow .flex-direction-nav a i[class^="fa "]{
	line-height: 40px;
	font-size:1.8em;
	margin-top:0;
}
.tp-rightarrow,.flex-direction-nav .flex-next{
	-webkit-transform:translateX(40px);
	-moz-transform:translateX(40px);
	-o-transform:translateX(40px);
	-ms-transform:translateX(40px);
	transform:translateX(40px);
}
.ie9 .tp-leftarrow,.ie9 .tp-rightarrow{
	visibility: hidden;
}
.revolution_slider:hover .tp-leftarrow,.revolution_slider:hover .tp-rightarrow,
.flexslider:hover .flex-direction-nav a{
	-webkit-transform:translateX(0px);
	-moz-transform:translateX(0px);
	-o-transform:translateX(0px);
	-ms-transform:translateX(0px);
	transform:translateX(0px);
	opacity:1;
}
.ie9 .revolution_slider:hover .tp-leftarrow,.ie9 .revolution_slider:hover .tp-rightarrow,
.ie9 .flexslider:hover .flex-direction-nav a{
	visibility: visible;
}
.slide_caption{
	width:430px;
	right:40px;
	padding-top:94px;
}
.slide_caption_2{
	width:395px;
	left:40px;
	padding-top:100px;
}
.slide_caption_3{
	left:105px;
	right:105px;
	padding-top:45px;
}
.simple_s_caption{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	padding:15px 20px;
	background:rgba(41,47,56,.7);
	-webkit-transform:translateY(100%);
	-moz-transform:translateY(100%);
	-o-transform:translateY(100%);
	transform:translateY(100%);
}
.sub_sideshow,.sub_video{
	width:555px;
}

/* -----------------------------------