/* Chrome, Safari, Opera */
body a:hover {
  color: #cfaf86;
  text-decoration: none;
}
ul {
  float: left;
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
.wrapper {
  overflow: hidden;
  min-height: 800px;
}
.nav-exploded {
  float: left;
  width: 100%;
  background: #f1f2ea;
  position: relative;
}
.nav-exploded ul li.menu {
  float: left;
  position: relative;
}
.nav-exploded ul li.menu > a {
  padding: 29px 30px;
  font-size: 114.28%;
  display: inline-block;
  position: relative;
}
.nav-exploded ul li.menu > a:before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  height: 3px;
  background: #cfaf86;
}
.nav-exploded ul li.menu:hover a:before {
  width: 100%;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.nav-exploded ul li.menu.act > a {
  color: #cfaf86;
}
.nav-exploded ul li.menu.act > a:before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #cfaf86;
}
.nav-exploded ul li.menu.parentMenu.popup-style-01,
.nav-exploded ul li.menu.parentMenu.popup-style-02 {
  position: static;
}
.nav-exploded ul li.menu.parentMenu.popup-style-01 .explodedmenu-menu-popup .popup-content {
  width: 75%;
  padding: 40px 0 45px;
  -webkit-box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2) 0px 0px #000000;
  -moz-box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2) 0px 0px #000000;
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2) 0px 0px #000000;
  -webkit-box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2);
}
.nav-exploded ul li.menu.parentMenu.popup-style-01 .explodedmenu-menu-popup .popup-content .block {
  width: 21%;
}
.nav-exploded ul li.menu.parentMenu.popup-style-01 .explodedmenu-menu-popup .popup-content .block h2 {
  font-size: 114.28%;
  text-transform: capitalize;
  margin-top: 0;
}
.nav-exploded ul li.menu.parentMenu.popup-style-01 .explodedmenu-menu-popup .popup-content .block ul {
  min-width: 0;
  padding: 0;
  -webkit-box-shadow: none 0px 0px #000000;
  -moz-box-shadow: none 0px 0px #000000;
  box-shadow: none 0px 0px #000000;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.nav-exploded ul li.menu.parentMenu.popup-style-01 .explodedmenu-menu-popup .popup-content .block ul li a {
  padding: 7px 0;
  display: inline-block;
}
.nav-exploded ul li.menu.parentMenu.popup-style-01 .explodedmenu-menu-popup .popup-content .block.block-banner {
  width: 37%;
  text-align: right;
  padding-top: 5px;
}
.nav-exploded ul li.menu.parentMenu.popup-style-01 .explodedmenu-menu-popup .popup-content .block.block-banner a {
  display: inline-block;
  overflow: hidden;
  position: relative;
}
.nav-exploded ul li.menu.parentMenu.popup-style-01 .explodedmenu-menu-popup .popup-content .block.block-banner a img {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.nav-exploded ul li.menu.parentMenu.popup-style-01 .explodedmenu-menu-popup .popup-content .block.block-banner a:hover img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  z-index: 1;
}
.nav-exploded ul li.menu.parentMenu.popup-style-01 .explodedmenu-menu-popup .popup-content .block.block-banner a:hover:before {
  opacity: 1;
  filter: alpha(opacity=100);
}
.nav-exploded ul li.menu.parentMenu.popup-style-01 .explodedmenu-menu-popup .popup-content .block.block-banner a:before {
  content: "";
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
  background: rgba(207, 175, 134, 0.7);
  position: absolute;
  top: 0;
  left: 0;
}
.nav-exploded ul li.menu.parentMenu.popup-style-02 .explodedmenu-menu-popup .popup-content {
  width: 83.3333%;
  padding: 40px 0 35px;
  -webkit-box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2) 0px 0px #000000;
  -moz-box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2) 0px 0px #000000;
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2) 0px 0px #000000;
  -webkit-box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2);
}
.nav-exploded ul li.menu.parentMenu.popup-style-02 .explodedmenu-menu-popup .popup-content .block a {
  display: inline-block;
  width: 100%;
}
.nav-exploded ul li.menu.parentMenu.popup-style-02 .explodedmenu-menu-popup .popup-content .block a.s-img {
  display: inline-block;
  overflow: hidden;
  position: relative;
}
.nav-exploded ul li.menu.parentMenu.popup-style-02 .explodedmenu-menu-popup .popup-content .block a.s-img img {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.nav-exploded ul li.menu.parentMenu.popup-style-02 .explodedmenu-menu-popup .popup-content .block a.s-img:hover img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  z-index: 1;
}
.nav-exploded ul li.menu.parentMenu.popup-style-02 .explodedmenu-menu-popup .popup-content .block a.s-img:hover:before {
  opacity: 1;
  filter: alpha(opacity=100);
}
.nav-exploded ul li.menu.parentMenu.popup-style-02 .explodedmenu-menu-popup .popup-content .block a.s-img:before {
  content: "";
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
  background: rgba(207, 175, 134, 0.7);
  position: absolute;
  top: 0;
  left: 0;
}
.nav-exploded ul li.menu.parentMenu.popup-style-02 .explodedmenu-menu-popup .popup-content .block a img {
  width: 100%;
}
.nav-exploded ul li.menu.parentMenu.popup-style-02 .explodedmenu-menu-popup .popup-content .block a span {
  width: 100%;
  text-align: center;
  float: left;
  font-size: 114.28%;
  text-transform: capitalize;
}
.nav-exploded ul li.menu.parentMenu.popup-style-02 .explodedmenu-menu-popup .popup-content .block a span.t01 {
  margin-top: 15px;
}
.nav-exploded ul li.menu.parentMenu.popup-style-02 .explodedmenu-menu-popup .popup-content .block a span.t02 {
  text-transform: uppercase;
}
.nav-exploded ul li.menu.parentMenu .explodedmenu-menu-popup {
  position: absolute;
  top: 80px;
  left: 200px;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.nav-exploded ul li.menu.parentMenu .explodedmenu-menu-popup .exploded-menu-block ul {
  -webkit-box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2) 0px 0px #000000;
  -moz-box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2) 0px 0px #000000;
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2) 0px 0px #000000;
  -webkit-box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2);
  min-width: 200px;
  padding: 25px;
}
.nav-exploded ul li.menu.parentMenu .explodedmenu-menu-popup .exploded-menu-block ul li {
  position: relative;
}
.nav-exploded ul li.menu.parentMenu .explodedmenu-menu-popup .exploded-menu-block ul li a {
  padding: 7px 0;
  display: inline-block;
  font-weight: 200;
  font-size: 92.86%;
}
.nav-exploded ul li.menu.parentMenu .explodedmenu-menu-popup .exploded-menu-block ul li ul {
  position: absolute;
  top: 0;
  left: 220px;
  background: #fff;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.nav-exploded ul li.menu.parentMenu .explodedmenu-menu-popup .exploded-menu-block ul li:hover > ul {
  opacity: 1;
  filter: alpha(opacity=100);
  visibility: visible;
  left: 150px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.nav-exploded ul li.menu.parentMenu:hover .explodedmenu-menu-popup {
  left: 0;
  opacity: 1;
  filter: alpha(opacity=100);
  visibility: visible;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
